button {
    width: 200px;
    height: 70px;
    font-size: 28px;
}

p {
    font-size: 28px;
}

h1 {
    font-size: 71px;
}

.light {
    color: black;
    background-color: white;
}

.dark {
    color: white;
    background-color: gray;
}