p {
  color: rgb(155, 100, 0);
  font-size: 20px;
}

.yell {
  color: yellow;
}

div {
  width: 100px;
  height: 100px;
  font-size: 40px;
  color: blue;
  background-color: grey;
  border: 3px dashed blue;
  margin: 3px;
  padding: 10px;
}


#ital {
  font-style: italic;
}

img {
  width: 200px;
}

header {
  background-color: gray;
}